* {
  color: white;
  font-size: 14px;
  font-family: SF Pro;
  min-height: 0;
  border-radius: 1rem;
}

window#waybar.top {
  border-radius: 0;
  border: 0;
  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)
  );
}

#custom-emblem, #custom-file, #custom-edit, #custom-view, #custom-help, #custom-window, #clock {
  margin: 0 8px;
  font-weight: 600;
}

#custom-emblem:hover, #custom-file:hover, #custom-edit:hover, #custom-view:hover, #custom-help:hover, #custom-window:hover, #clock:hover, #window:hover { text-shadow: #000 0 0 5px; }

#window { font-weight: 900; }

#custom-emblem { margin-left: 20px; }


#custom-roman {
  font-family: Free Serif;
  font-weight: 900;
  font-size: 16px;
}

#clock { margin: 0 4px 0 0; }

tooltip {
  background: rgba(0,0,0,0.5);
}
tooltip label {
  color: white;
  font-weight: 500;
}

window#waybar.bottom {
  background:transparent;
}

#taskbar {
  background: linear-gradient(45deg, rgba(200,200,200,0.2), rgba(0,0,0,0));
  border-radius: 16px;
  margin-bottom: 5px;
}

/* #taskbar *:hover { */
/*   opacity: 0.2; */
/* } */


#bluetooth,
#cpu,
#memory,
#disk,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#idle_inhibitor,
#mpris,
#custom-control {
  margin: 0 -2px;
  padding: 0 0 0 6px;
  font-size: 16px;
}

#custom-control { margin: 0 4px; }

#battery {margin-right: 0px;}

#battery.full { color: #90ffff; }

#battery.sufficient { color: #ffffff; }

#battery.charging.sufficient, #battery.plugged.sufficient { color: #b6f6f6; }

#battery.reduced { color: #d4f760; }

#battery.charging.reduced, #battery.plugged.reduced { color: #c7f089; }

#battery.charging.warning, #battery.plugged.warning { color: #e2e83c; }

#battery.warning:not(.charging) { color: #f86868; }

#battery.charging.critical, #battery.plugged.critical { color: #ff5225; }

@keyframes blink { to { color: #000000; } }

#battery.critical:not(.charging) {
  color: #f53c3c;
  padding-right: 0px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus { color: #000000; }

#network.disconnected { color: #f53c3c; }

#temperature { margin-right: 6px; }

#temperature.critical { color: #eb4d4b; }

#idle_inhibitor.deactivated { color: rgba(255,255,255,0.5); }

#idle_inhibitor.activated { color: #fef; }

#tray { margin-right: -2px; }

#tray menu * {
  font-family: Ubuntu;
  font-size: 12px;
  color: black;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
