* {
  font-family: SF Pro;
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
  color: #aaf;
  margin: -1px 0;
  border: none;
}

window#waybar {
  background-color: rgba(30, 10, 20, 0.2);
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background-color: rgba(80, 60, 130, 0.7);
  border-radius: 5px;
} 
tooltip label {
  font-family: CommitMono Nerd Font Mono;
  font-size: 12px;
}

#workspaces * {
  padding:0 2px;
}

#workspaces label {
  font-family: CommitMono Nerd Font Mono;
  font-size: 12px;
}

#workspaces button {
  box-shadow: inset 0 -3px transparent;
  background-color: rgba(30, 10, 20, 0.2);
  color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(80, 0, 160, 0.5);
  box-shadow: inset 0 -5px #ffffff;
}

#workspaces button.focused {
  background-color: #f00;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#tray {
  padding: 0 1px;
  margin: -1px 0;
  background-color: rgba(30, 10, 20, 0.2);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#clock {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 160px;
  border-radius: 10px;
  padding: 0 15px;
  /* box-shadow: rgba(17, 17, 27, 0.2) 0 0 3 2px; */
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: -1; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: -1; */
/* } */

modules-right {
  background-color: #000;
}

#battery {
  padding: 0 6px;
}

#battery.charging, #battery.plugged {
  border-color: #06863B;
}

@keyframes blink {
  to {
    color: #f22;
  }
}

#battery.critical:not(.charging), #cpu.critical {
  color: #fff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight-slider *, #pulseaudio-slider *{
  margin: -1;
  padding: 0;
}

#backlight-slider slider, #pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  box-shadow: none;
}
#backlight-slider trough, #pulseaudio-slider trough {
  padding: 0;
  min-height: 10px;
  min-width: 50px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
}
#backlight-slider highlight, #pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 10px;
  background-color: #99e;
}

label:focus {
  background-color: #000000;
}

#cpu.high {
  color: #faa
}

#cpu.critical {
  color: #faa
}

#network.disconnected {
  color: #f22;
}

#pulseaudio.muted:not(.source-muted) {
  color: #2980b9;
}

#pulseaudio.source-muted:not(.muted) {
  color: #ff6b73;
}

#pulseaudio.source-muted.muted {
  color: #7a50ff;
}

#wireplumber {
  color: #fff0f5;
}

#wireplumber.muted {
  color: #f53c3c;
}

#idle_inhibitor.activated {
  color: #2d3436;
}

#keyboard-state {
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
